[run]
# measure branch coverage
branch = True
# don't test the Python standard library
cover_pylib = False
# omit uninteresting files
omit =
    beatmap_collections/migrations/*
    users/migrations/*
    beattosetto/*
    # No tests for tests
    beatmap_collections/tests.py
    users/tests.py
    manage.py
    beatmap_collection/functions.py
    actions/*