{% extends "beatmap_collections/base_generic.html" %}
{% load static %}
  {% block css %}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
  {% endblock %}
{% block title %}
    <title>Login Cancelled</title>
{% endblock %}
{% block content %}
<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-4 hidden-md-down position-relative">
        <div class="container position-absolute top-50 start-50 translate-middle col-8">
           <p></p>
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <i class="fas fa-check"></i> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <h1>Log In Cancelled</h1>
          <p></p>
          {% url 'account_login' as login_url %}
            <p>You decided to cancel logging in to Beattosetto using your osu! account. If this was a mistake, please <a class="text-decoration-none" href="{{ login_url }}">sign in again</a>.</p>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="background-image: url('{% static "img/login-cancelled-cover.jpg" %}')"></div>
    </div>
  </div>
</body>
{% endblock %}
