{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/actions">
    <meta property="og:type" content="website">
    <meta property="og:title" content="actions | beattosetto">
    <meta property="og:description" content="Why you need to work on it? Just let the cute bot do it for you!">
    <meta property="og:image" content="{% static "img/hero-actions.jpg" %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/actions">
    <meta property="twitter:title" content="actions | beattosetto">
    <meta property="twitter:description" content="Why you need to work on it? Just let the cute bot do it for you!">
    <meta property="twitter:image" content="{% static "img/hero-actions.jpg" %}">
    {% endblock %}

    {% block title %}
  <title>actions | beattosetto</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static "img/hero-actions.jpg" %}); background-position: center;">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Actions</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Why you need to work on it? Just let my cute beatto-chan do it for you!</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="container text-light">
    <h1 data-aos="fade-up" data-aos-duration="700" data-aos-once="true"><i class="fas fa-wrench"></i> Start an action</h1>
    <p data-aos="fade-up" data-aos-duration="750" data-aos-once="true">Trigger the worker to let beatto-chan do some job for you!</p>
    <div class="alert alert-warning" role="alert" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
      <b>Warning :</b> This action is running in background and consume a lot of server's calculation power. Please think before running it!
    </div>
    <div class="row">
        <div class="col-4" data-aos="fade-up" data-aos-duration="850" data-aos-once="true">
            {% if update_beatmap_running %}
            <a class="btn btn-warning hvr-bounce-to-right-warning disabled" href="{% url 'actions_update_beatmap' %}" aria-disabled="true">Update all beatmaps metadata</a>
            {% else %}
            <a class="btn btn-warning hvr-bounce-to-right-warning" href="{% url 'actions_update_beatmap' %}">Update all beatmaps metadata</a>
            {% endif %}
        </div>
        <div class="col-8" data-aos="fade-up" data-aos-duration="850" data-aos-once="true">
          <p>Update all beatmap metadata in the server.</p>
            {% if update_beatmap_running %}
            <p class="text-warning"><i class="fas fa-ban"></i> Cannot start the new worker now : other worker are working on this task.</p>
            {% endif %}
        </div>
    </div>

    <br>

    <h1 data-aos="fade-up" data-aos-duration="900" data-aos-once="true"><i class="fas fa-running"></i> Worker log</h1>
    {% if action_log %}
    {% for action in action_log %}
    <div class="container rounded border border-2 p-3" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
        <h3><b>#{{ action.id }}</b> {{ action.name }}</h3>

    <a href="{% url 'profile' action.start_user.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ action.start_user.profile.profile_picture.url }}" alt="{{ action.start_user.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ action.start_user.username }} </p></a>

    <p>Start at {{ action.time_start|date:"F j, Y h:i A" }} UTC</p>
    <p id="duration_{{ action.id }}">Duration : Calculating...</p>

    <div id="status_{{ action.id }}">
        {% if action.status == 0 %}
        <div>
        <div class="spinner-grow" role="status" style="color: #ff66aa">
          <span class="visually-hidden">Idle...</span>
        </div> <span style="color: #ff66aa" class="text-center">Idle...</span>
        </div>
        {% elif action.status == 1 %}
        <div>
        <div class="spinner-border" role="status" style="color: #ff66aa">
          <span class="visually-hidden">Loading...</span>
        </div> <span style="color: #ff66aa" class="text-center">Running...</span>
        </div>
        {% elif action.status == 2 %}
        <p class="text-success"><i class="fas fa-check"></i> Successfully running</p>
        {% elif action.status == 3 %}
        <p class="text-danger"><i class="fas fa-times"></i> Run failed</p>
        {% endif %}
    </div>

    <p id="running_log_{{ action.id }}">Running Status : {{ action.running_text }}</p>
    {% if action.get_log_url %}
    <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ action.log.url }}"><i class="fas fa-file-download icon-menu hvr-icon"></i> Download log</a></p>
    {% endif %}

    {% if action.status == 2 or action.status == 3 %}
    <a class="btn btn-danger hvr-sweep-to-right-danger" id="delete_log_{{ action.id }}" href="{% url 'delete_action_log' action.id %}" role="button"><i class="fas fa-trash"></i> Delete Log</a>
    {% else %}
    <a class="btn btn-danger disabled hvr-sweep-to-right-danger" id="delete_log_{{ action.id }}" href="#" role="button" aria-disabled="true"><i class="fas fa-trash"></i> Delete Log</a>
    {% endif %}
    </div>
    <p></p>
    {% endfor %}
    {% else %}
    <div class="col-12" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
        <h1 class="text-center" ><img src="{% static "img/no-log.gif" %}" style="max-width: 500px" class="w-100" alt="No log"></h1>
        <h3 class="text-center">Nothing here, just pass me.</h3>
        <h3 class="text-center">Or let me work for you!</h3>
    </div>
    {% endif %}
</main>
{% endblock %}

{% block js %}
    <script>
        {% for action in action_log %}
            let status_before_{{ action.id }} = 0;
            async function updateRunningText{{ action.id }}() {

                // Storing response
                const response = await fetch("{% url 'check_action_log' action.id %}")

                // Storing data in form of JSON
                let Data = await response.json()
                const status_action0id = document.getElementById("status_{{ action.id }}");
                const status_running_log_action0id = document.getElementById("running_log_{{ action.id }}");
                const status_duration_action0id = document.getElementById("duration_{{ action.id }}");
                const delete_button_action0id = document.getElementById("delete_log_{{ action.id }}");

                // If response, update HTML
                if (response) {
                    status_running_log_action0id.innerHTML = "Running Status : " + Data['running_text']
                    status_duration_action0id.innerHTML = "Duration : " + Data['duration']
                    if (status_before_{{ action.id }} !== Data['status']) {
                        status_before_{{ action.id }} = Data['status']

                        let status_message = "";
                        if (Data['status'] === 0) {
                            status_message = '<div class="spinner-grow" role="status" style="color: #ff66aa">\n' +
                                '<span class="visually-hidden">Idle...</span>\n' +
                                '</div> <span style="color: #ff66aa" class="text-center">Idle...</span>'
                        } else if (Data['status'] === 1) {
                            status_message = '<div class="spinner-border" role="status" style="color: #ff66aa">\n' +
                                '<span class="visually-hidden">Loading...</span>\n' +
                                '</div> <span style="color: #ff66aa" class="text-center">Running...</span>'
                        } else if (Data['status'] === 2) {
                            status_message = '<p class="text-success"><i class="fas fa-check"></i> Successfully running</p>'
                        } else if (Data['status'] === 3) {
                            status_message = '<p class="text-danger"><i class="fas fa-times"></i> Run failed</p>'
                        } else {
                            status_message = '<p>Unknown Status</p>'
                        }

                        status_action0id.innerHTML = status_message;

                        if (Data['status'] === 3 || Data['status'] === 2) {
                            delete_button_action0id.classList.remove("disabled");
                            delete_button_action0id.aria_disabled = "true";
                            delete_button_action0id.href = "{% url 'delete_action_log' action.id %}";
                        } else {
                            delete_button_action0id.classList.add("disabled");
                            delete_button_action0id.aria_disabled = "false";
                            delete_button_action0id.href = "#";
                        }
                    }
                }
            }
        {% endfor %}
        {% for action in action_log %}
            setInterval (() => {
                updateRunningText{{ action.id }}()
            }, 1000);
        {% endfor %}
    </script>
{% endblock js %}