{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/actions">
    <meta property="og:type" content="website">
    <meta property="og:title" content="actions | beattosetto">
    <meta property="og:description" content="Why you need to work on it? Just let the cute bot do it for you!">
    <meta property="og:image" content="{% static "img/hero-create-collection.jpg" %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/actions">
    <meta property="twitter:title" content="actions | beattosetto">
    <meta property="twitter:description" content="Why you need to work on it? Just let the cute bot do it for you!">
    <meta property="twitter:image" content="{% static "img/hero-create-collection.jpg" %}">
    {% endblock %}

    {% block title %}
  <title>actions | beattosetto</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static "img/hero-create-collection.jpg" %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Actions</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Why you need to work on it? Just let the cute bot do it for you!</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    
</main>
{% endblock %}