{% extends "beatmap_collections/base.html" %}
{% load static %}
{% load social_share %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/profile/{{ profile_owner.id }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ profile_owner.username }}'s profile | beattosetto">
    <meta property="og:description" content='This is a profile page of cool circle clicker name {{ profile_owner.username }}.'>
    <meta property="og:image" content="{{ profile.cover_image.url }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/profile/{{ profile_owner.id }}">
    <meta property="twitter:title" content="{{ profile_owner.username }}'s profile | beattosetto">
    <meta property="twitter:description" content='This is a profile page of cool circle clicker name {{ profile_owner.username }}'>
    <meta property="twitter:image" content="{{ profile.cover_image.url }}">
    {% endblock %}

    {% block title %}
  <title>{{ profile_owner.username }}'s profile | beattosetto</title>
   {% endblock %}


{% block content %}
<main class="text-light">

    <div class="px-4 py-4 my-4 text-center align-middle hero-profile" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({{ profile.cover_image.url }});"></div>

  <div class="container px-4 py-4 my-4 d-grid gap-4">
      <div class="row profile-container justify-content-center" style="margin-top: -150px;">
        <div class="col-12" id="profile-pic">
          <img data-aos="zoom-in" data-aos-duration="600" src="{{ profile.profile_picture.url }}" alt="{{ profile_owner.username }}" class="rounded-circle maintain-ratio profile-page-pic">
        </div>
        <div class="col-12" id="profile-detail">
          <h1 data-aos="fade-up" data-aos-duration="700">{{ profile_owner.username }}</h1>
        </div>
          {% if osu_username %}
        <div class="col-sm-2 hvr-icon-bounce" data-aos="fade-up" data-aos-duration="800">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="https://osu.ppy.sh/users/{{ osu_username }}"><img src="{% static 'logo/osu-logo-pink.png' %}" alt="osu! logo" width="20px" height="20px" class="icon-menu hvr-icon"> {{ osu_username }}</a>
        </div>
          {% endif %}
        </div>
      </div>
  <div class="container">
      <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
  </div>
    <section class="py-4 container">
        {% if collections %}
        <h1 class="display-4 text-center" data-aos="fade-up" data-aos-duration="750" data-aos-once="true">{{ profile_owner.username }}'s Collections</h1>
        <div class="row g-4 py-4">
        {% for collection in collections %}
            {% include "beatmap_collections/snippets/collection_card.html" %}
        {% endfor %}
        {% include 'snippets/paginator.html' with paged=collections %}
        </div>
        {% endif %}
        <div class="col-12" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            {% url 'profile' profile.id as profile_url %}
            <p><i class="fas fa-share"></i> Share your beattosetto profile to other circle clicker</p>
            <div class="hstack gap-3">
                {% post_to_facebook profile_url "<i class='fab fa-facebook'></i> Make a new post" "btn btn-facebook" %}
                {% post_to_twitter "" profile_url "<i class='fab fa-twitter'></i> Tweet this" "btn btn-twitter" %}
            </div>
        </div>
    </section>
</main>


{% endblock %}
