{% extends "beatmap_collections/base.html" %}
{% load static %}
    {% block title %}
  <title>{{ owner.username }}'s collections | beattosetto</title>
   {% endblock %}


{% block content %}
<main class="text-light">

    <div class="px-4 py-4 my-4 text-center align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({{ profile.cover_image.url }});"></div>

  <div class="container px-4 py-4 my-4 d-grid gap-4">
      <div class="row profile-container" style="margin-top: -150px;">
        <div class="col col-2" id="profile-pic">
          <img data-aos="zoom-in" data-aos-duration="600" src="{{ profile.profile_picture.url }}" alt="{{ profile_owner.username }}" width="100%" class="rounded-circle profile-page-pic">
        </div>
        <div class="col col-10" id="profile-detail">
          <h1 data-aos="fade-up" data-aos-duration="700">{{ profile_owner.username }}</h1>
        </div>
      </div>
    </div>
  <div class="container">
      <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
  </div>
    <section class="py-4 container">
        <h2 class="display-2 text-center" data-aos="fade-up" data-aos-duration="750" data-aos-once="true">{{ owner.username }}'s Collections</h2>
        <div class="row g-4 py-4">
        {% for collection in collections %}
            {% include "beatmap_collections/snippets/collection_card.html" %}
        {% endfor %}
        </div>
    </section>
</main>


{% endblock %}
