{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/settings/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="settings | beattosetto">
    <meta property="og:description" content="Let's setting up your cool profile! {{ cool_description }}">
    <meta property="og:image" content="{% static hero_image %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/settings/">
    <meta property="twitter:title" content="settings | beattosetto">
    <meta property="twitter:description" content="Let's setting up your cool profile! {{ cool_description }}">
    <meta property="twitter:image" content="{% static hero_image %}">
    {% endblock %}

    {% block title %}
  <title>settings | beattosetto</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static hero_image %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Settings</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's setting up your cool profile! {{ cool_description }}</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#profile"><i class="fas fa-user icon-menu hvr-icon"></i> Profile</a></p>
            </div>
            <div class="col-sm-2">
                <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#account"><i class="fas fa-user-cog icon-menu hvr-icon"></i> Account</a></p>
            </div>
        </div>
    </div>
    <form class="py-4 container" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <a id="profile"><h1>Profile</h1></a>
        <h2>User Information</h2>
        <div class="fieldWrapper">
            <div class="mb-3 row">
                <label for="id_username" class="col-form-label col-lg-3">{{ user_form.username.label_tag }}</label>
                <div class="col-lg-9">
                    <input type="text" id="id_username" name="username" class="form-control" placeholder="Your Username" value="{{ user_form.username.value }}" required>
                    <p class="form-error">{{ user_form.username.errors }}</p>
                    <p class="text-muted">Your Username that will be show everywhere. Maybe {{ random_username }}?</p>
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
            <div class="mb-3 row">
                <label for="id_email" class="col-form-label col-lg-3">{{ user_form.email.label_tag }}</label>
                <div class="col-lg-9">
                    <input type="email" id="id_email" name="email" class="form-control" placeholder="Your Email" value="{{ user_form.email.value }}">
                    <p class="form-error">{{ user_form.email.errors }}</p>
                    <p class="text-muted">Your Email like yourgarden@suringarden.com</p>
                </div>
            </div>
        </div>
        <h2>Profile Settings</h2>
        <br/>
        <div class="row g-3 align-items-center">
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_profile_picture" class="col-form-label col-lg-3">{{ profile_form.profile_picture.label_tag }}</label>
                    <div class="col-lg-9">
                        <p>Current profile image: <img alt="{{ user.username }}'s profile image" src="{{ user.profile.profile_picture.url }}" class="maintain-ratio" width="105" height="105"></p>
                        <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture" class="form-control">
                        <p class="form-error">{{ profile_form.profile_picture.errors }}</p>
                        <p class="text-muted">Your cool or cute profile image.</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="id_cover_image" class="col-form-label col-lg-3">{{ profile_form.cover_image.label_tag }}</label>
                    <div class="col-lg-9">
                        <p>Current cover image: <img alt="{{ user.username }}'s cover image" src="{{ user.profile.cover_image.url }}" class="maintain-ratio" width="200"></p>
                        <input type="file" name="cover_image" accept="image/*" id="id_cover_image" class="form-control">
                        <p class="form-error">{{ profile_form.cover_image.errors }}</p>
                        <p class="text-muted">Your cool or cute cover image.</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success">Submit</button>
    </form>
    <div class="py-4 container">
    <a id="account"><h1>Account</h1></a>
    <h2>Account Connection</h2>
    <p>You can connect your lovely Beattosetto account with your cool 7 digits osu! account so you can login by using your cool osu! account instead of using boring username and password.</p>
    {% if social_account %}
    <p style="color:#ff66aa"><i class="fas fa-check icon-menu" style="color:#ffb3d4"></i> This account is connected to your cool 7 digits osu! account with username : {{ osu_confirm_username }}</p>
    {% else %}
    <a title="osu!" class="socialaccount_provider osu text-decoration-none text-center spacing-hover raleway-font hvr-icon-bounce" href="/accounts/osu/login/?process=connect"><img src="{% static "logo/osu-logo-pink.png" %}" alt="osu! logo" width="20px" height="20px" class="icon-menu hvr-icon"> Connect to osu! account</a>
    {% endif %}
    </div>

</main>
{% endblock %}