:root {
    /*
    Override Bootstrap variable
    This is the only way to theme Bootstrap without SCSS dependencies.
    */
    --bs-primary: #FF66AA;
    --bs-primary-dark: #FF268c;
    --bg-color: rgb(33, 37, 41);
    --bg-color-trans: rgba(33, 37, 41, .8);
    --bg-primary-lighter-zero: rgba(39, 45, 49, 0);
    --bg-primary-lighter: rgb(39, 45, 49);
    --bg-primary-lighter-trans: rgba(39, 45, 49, 0.8);
    --default-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-sans-serif: "Comfortaa", "Mali", "Noto Sans JP", var(--default-font-family-sans-serif);
    --transition-time: 0.2s;
    --bg-modal-progressbar: #2D2D2D;
}

* {
    /* Change all transition to make every animation move smoothly */
    transition: var(--transition-time);
}

body {
    background-color: var(--bg-color);
}

a {
    color: var(--bs-primary);
}

a:hover {
    color: var(--bs-primary-dark);
}

.border-primary {
    /* Bootstrap has a bug. This will be hard coded instead of using color. */
    border-color: var(--bs-primary) !important;
}

h1 {
    /* I want header 1 to be the only header that is bold */
    font-family: "Comfortaa", cursive;
    font-weight: bold;
}

/*Header and footer styling*/

#header {
    background-color: var(--bg-primary-lighter-zero);
    transition: var(--transition-time);
    z-index: 2;
}

footer {
    color: white;
    background-color: var(--bg-primary-lighter);
}

.github-footer {
    color: #fff;
}

.github-footer:hover {
    color: #ff66aa;
}

.nav-text {
    color: #ff63ac;
    font-size: 20px;
    transition: var(--transition-time)
}

.nav-text:hover {
    letter-spacing: 2px;
}

.hero, .hero-profile {
    /*height:30vh;*/
    min-height:400px;
    background-size: cover;
    margin:0!important;
    padding:12vh!important;
    transition: var(--transition-time);
    color: white;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

.dropdown-menu {
    background-color: rgb(44, 53, 56);
}

.dropdown-item:hover {
    background-color: rgb(72, 88, 92);
}

.dropdown-pfp::after {
    content:none;
}

@media (max-width: 1009px) {
    #mobile-header {
        opacity: 100%!important;
    }

    #desktop-header {
        opacity: 0;
    }
}

#mobile-header {
    opacity: 0;
    z-index: 1;
    transition: var(--transition-time);
    min-height: 68px;
    height: 8%;
    background-color: var(--bg-primary-lighter-zero);
}

#mobile-logo {
    transition: var(--transition-time);
}

#navbarToggleExternalContent {
    margin-top: 77px;
    background-color: var(--bg-primary-lighter-trans);
    backdrop-filter: blur(5px);
}

.list-group-item {
    border: 0;
    background-color: var(--bg-primary-lighter-trans);
}

.list-group {
    background-color: var(--bg-primary-lighter-zero);
}

.list-group-item:hover {
    border: 0;
    background-color: rgba(39, 45, 49, .3);
}

.mobile-header-text {
    color: white;
}

#arrow-profile-menu {
    transition: var(--transition-time);
}

#profile-picture, #header-logo{
    transition: var(--transition-time);
}

#profile-picture {
    object-fit: cover;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #272d31;
}

.modal-body {
    color: white;
}

.discord-hover:hover {
    cursor: pointer;
}

#signout-button:hover {
    cursor: pointer;
}

button.btn-close {
    filter: invert(1);
}

.text-box {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
}

button.accordion-button,
button.accordion-button:focus,
button.accordion-button:not(.collapsed) {
    color: white;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed) {
    background-color: rgb(49, 58, 61);
    border-color: white;
}

button.accordion-button:focus {
    background-color: rgb(67, 80, 83);
    border-color: rgb(67, 80, 83);
}

.accordion-body {
    background-color: rgb(49, 58, 61);
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(0.4);
}

#profile-menu {
    background-color: var(--bg-primary-lighter-trans);
    color: white;
}

#nav-listing {
    font-weight: 1000;
}

#nav-listing:hover {
    color: var(--bs-primary-dark);
}

a.dropdown-item {
    color: white;
}

.modal-title {
    color: white;
    font-weight: 1000;
}

/* Some element class that we made it specificly */

.btn-beattosetto
{
    background-color: var(--bs-primary)!important;
    color: white!important;
    border-color: var(--bs-primary)!important;
}

.btn-facebook {
    background-color: #1977F2 !important;
    color: white !important;
    border-color: #1977F2 !important;;
}

.btn-twitter {
    background-color: #1DA1F2 !important;
    color: white !important;
    border-color: #1DA1F2 !important;
}

.form-error {
    color: red!important;
}

/* Styling use in beatmap card */

.beatmap-card {
    background-color: rgba(39, 45, 49, 0.9);
    backdrop-filter: blur(4px);
    font-size: 95%;
}

.beatmap-title {
    color: #ff66aa;
    font-size: 120%;
}

.beatmap-artist {
    line-height: normal;
}

.beatmap-source {
    font-size: 90%;
    line-height: normal;
    margin-top: -7px;
}

.beatmap-comment {
    line-height: 1.0;
    margin-top: -5px;
}

.beatmap-creatpr {
    margin-top: -5px
}

.beatmap-author {
    margin-top: -10px;
}

.beatmap-button {
    margin-top: -10px;
}

.modal-small {
    font-size: 80%;
}

.modal-diff.progress {
    background-color: #272727;
}

.beatmap-stat-text {
    text-align: center!important;
}

@media (max-width: 1009px) {
    .beatmap-stat-text {
        text-align: left!important;
    }
}

.color-white {
    color: white!important;
}

/* Styling class used in JS */

.hidden {
    opacity: 0;
}

.show {
    opacity: 100%;
}

.rotate {
    rotation: 180deg;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.icon-menu {
    color: #ffb3d4;
}

/* This is used to override the color of fontawesome icon */

.fa-times {
    color: #842029;
}

.fa-check {
    color: #0f5132;
}

/* Collection card styling */

.collection-card {
    position: relative;
}

.collection-background {
    background-color: rgba(39, 45, 49, 0.9);
    backdrop-filter: blur(4px);
}

.collection-card::after {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bs-primary);
    background: var(--bs-dark);
    z-index: -1;
    border-radius: .25rem;
    content: "";
}

.collection-card .description {
    max-lines: 3;
}

.bold-font {
    font-weight: 1000;
}

.bg-primary {
    /* Bootstrap does not use CS */
    background-color: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.beatmap-infobox-date {
    font-size: 90%;
}

.fix-transition {
    /*This class is used to fix some animation that is slower than expected.*/
    transition: 0.05s!important;
}

.profile-container > * {
    display: inherit;
    justify-content: center;
    text-align: center;
}

.maintain-ratio {
    object-fit: cover;
}

.profile-page-pic {
    margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    .profile-page-pic {
        width: 211px;
        height: 211px;
    }
}

.fix-transition {
    /*This class is used to fix some animation that is slower than expected.*/
    transition: 0.05s!important;
}

.embed {
    width: 400px;
    height: 300px;
}

.embed-box {
    height: 100%;
}

/* Pagination */
.pagination .page-link {
    background: var(--bs-primary);
    color: white;
}

.pagination .page-item.active .page-link {
    background: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
}