:root {
    /*
    Override Bootstrap variable
    This is the only way to theme Bootstrap without SCSS dependencies.
    */
    --bs-primary: FF549F;
    --default-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-sans-serif: 'Comfortaa', var(--default-font-family-sans-serif);
}