html,
body {
    height: 100%!important;
}

.right-bg {
    background-size: cover;
    background-position: center;
}

.form {
    line-height: 10;
}

.login-form {
    line-height: 1;
}

.btn-beattosetto2
{
    background-color: gray!important;
    color: white!important;
    border-color: gray!important;
}

.spacing-hover {
    color: var(--bs-primary) !important;
}

.login-bottom-text {
    line-height: 5;
}

@media (max-width: 1009px) {
    .col-sm-4 {
        width: 100%;
        height: 100%;
    }

    .col-sm-8 {
        width: 0;
        height: 0;
    }

    .login-bottom-text {
        line-height: 2;
    }
}
