{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/collections/{{ collection.id }}/add/beatmap/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="add beatmap to {{ collection.name }} | beattosetto">
    <meta property="og:description" content="Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye">
    <meta property="og:image" content="{% static 'img/hero-add-beatmap.jpg' %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/collections/{{ collection.id }}/add/beatmap/">
    <meta property="twitter:title" content="add beatmap to {{ collection.name }} | beattosetto">
    <meta property="twitter:description" content="Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye">
    <meta property="twitter:image" content="{% static 'img/hero-add-beatmap.jpg' %}">
    {% endblock %}

    {% block title %}
  <title>add beatmap to {{ collection.name }} | beattosetto</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static "img/hero-add-beatmap.jpg" %}); background-position: center;">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Add Beatmap</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    <form class="py-4 container" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>Add Beatmap</h2>
        <br/>
        <div class="row g-3 align-items-center">
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_beatmap_id" class="col-form-label col-lg-3">{{ form.beatmap_id.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="number" id="id_beatmap_id" name="beatmap_id" class="form-control" placeholder="Add your Beatmap ID here" required>
                        <p class="form-error">{{ form.beatmap_id.errors }}</p>
                        <img src="{% static "img/how-to-get-beatmap-id.png" %}" alt="How to get a beatmap ID" style="max-width: 100%;">
                        <p class="text-muted">ID of your recommend beatmap that you want to add.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_comment" class="col-form-label col-lg-3">{{ form.comment.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="text" id="id_comment" name="comment" class="form-control" placeholder="Add your comment here" required>
                        <p class="form-error">{{ form.comment.errors }}</p>
                        <p class="text-muted">Short explanation about beatmap.</p>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success">Add</button>
    </form>
</main>
{% endblock %}