{% extends "beatmap_collections/base.html" %}
{% load static %}
    {% block title %}
  <title>Add Beatmap</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static "img/hero-create-collection.jpg" %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Add Beatmap</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's add your beatmap!!!</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    <form class="py-4 container" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>Add Beatmap</h2>
        <br/>
        <div class="row g-3 align-items-center">
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_name" class="col-form-label col-lg-3">Beatmap ID:</label>
                    <div class="col-lg-9">
                        <input type="text" id="id_name" name="name" class="form-control" placeholder="Add your Beatmap ID here" required>
                        <p class="form-error">{{ form.name.errors }}</p>
                        <p class="text-muted">ID of your recommend beatmap that you want to add.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_description" class="col-form-label col-lg-3">Description:</label>
                    <div class="col-lg-9">
                        <textarea name="description" cols="1" rows="1" class="form-control" id="id_description" placeholder="Beatmap Description Here" required></textarea>
                        <p class="form-error">{{ form.description.errors }}</p>
                        <p class="text-muted">Short explanation about beatmap.</p>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success">Add</button>
</form>
</main>
{% endblock %}