{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/collections/{{ collection.id }}/add/beatmap/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="add beatmap to {{ collection.name }} | beattosetto">
    <meta property="og:description" content="Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye">
    <meta property="og:image" content="{% static hero_image %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/collections/{{ collection.id }}/add/beatmap/">
    <meta property="twitter:title" content="add beatmap to {{ collection.name }} | beattosetto">
    <meta property="twitter:description" content="Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye">
    <meta property="twitter:image" content="{% static hero_image %}">
    {% endblock %}

    {% block title %}
  <title>add beatmap to {{ collection.name }} | beattosetto</title>
   {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/progres-bar.css" %}">
{% endblock %}

{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static hero_image %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            {% if user == collection.author %}
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Add Beatmap</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's add your beatmap!!! Hooyaya Oya Oyaya Yeye</p>
            {% else %}
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Suggest Beatmap</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Have some new idea on this collection? Let's add some here! Hehehehe</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <p data-aos="fade-up" data-aos-duration="700"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url "collection" collection.id %}"><i class="fas fa-chevron-circle-left icon-menu hvr-icon"></i> Back to collection</a></p>
            </div>
        </div>
    </div>
    <form class="py-4 container" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% if user == collection.author %}
        <h2>Add Beatmap</h2>
        {% else %}
        <h2>Suggest Beatmap</h2>
        {% endif %}
        <br/>
        <div class="row g-3 align-items-center">
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_beatmap_id" class="col-form-label col-lg-3">{{ form.beatmap_id.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="number" id="id_beatmap_id" name="beatmap_id" onchange="RenderDemoCard(this.value);" class="form-control" placeholder="Add your Beatmap ID here" required>
                        <p class="form-error">{{ form.beatmap_id.errors }}</p>
                        <div id="beatmap-card">
                            <div id="demo-beatmap-card"></div>
                            <img src="{% static "img/how-to-get-beatmap-id.png" %}" alt="How to get a beatmap ID" style="max-width: 100%;">
                            <p class="text-muted">ID of your recommend beatmap that you want to add.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if collection.allow_comment %}
        <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_comment" class="col-form-label col-lg-3">{{ form.comment.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="text" id="id_comment" name="comment" class="form-control" placeholder="Add your comment here">
                        <p class="form-error">{{ form.comment.errors }}</p>
                        <p class="text-muted">Short explanation about beatmap. (Not required)</p>
                    </div>
                </div>
            </div>
        {% else %}
        <p class="text-muted"><i class="fas fa-lock"></i> The collection maintainer not allowed to commented on the beatmap on added.</p>
        {% endif %}
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success">Add</button>
    </form>
</main>
{% endblock %}

{% block js %}
<script src="{% static "js/live_beatmap_card.js" %}"></script>
<script
        src="https://code.jquery.com/jquery-1.11.2.min.js"
        integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="
        crossorigin="anonymous"></script>
<script src="{% static "js/player.js" %}"></script>
{% endblock %}