{% extends "beatmap_collections/base.html" %}
{% load static %}
    {% block title %}
  <title>Create collection</title>
   {% endblock %}

{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static "img/hero-create-collection.jpg" %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Create collection</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's make some collection! poon poon Poon POON</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="bg-dark text-light">
    <form class="py-4 container">
        <h1 class="display-5">Collection Information</h1>
        <br />
        <div class="row g-3 align-items-center">
  <div class="col-12 col-lg-4">
    <label for="inputTitle" class="col-form-label">Title</label>
  </div>
  <div class="col-12 col-lg-8">
    <input type="text" id="inputTitle" class="form-control" placeholder="Beatmap Title Here">
  </div>
  <div class="col-12 col-lg-4">
    <label for="inputDescription" class="col-form-label">Description</label>
  </div>
  <div class="col-12 col-lg-8">
    <textarea rows="5" id="inputDescription" class="form-control" placeholder="Write your message here">
    </textarea>
  </div>
  <p></p>
  <br />
        <label for="inputBeatmap" class="display-6">Beatmaps</label>
        <br />
  <div class="col-4">
      <input type="number" id="inputBeatmap" class="form-control" placeholder="Insert beatmap ID.">
      </div>

             <div class="col-4"><button type="button" class="btn btn-primary">Add</button></div>
  <button type="button" class="btn btn-success">Create</button>
</div>

</main>
{% endblock %}