{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/collections/{{ collection.id }}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ collection.name }} | beattosetto">
    <meta property="og:description" content="{{ collection.description }}">
    <meta property="og:image" content="{{ collection.collection_list.url }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/collections/{{ collection.id }}/">
    <meta property="twitter:title" content="{{ collection.name }} | beattosetto">
    <meta property="twitter:description" content="{{ collection.description }}">
    <meta property="twitter:image" content="{{ collection.collection_list.url }}">
    {% endblock %}

    {% block title %}
  <title>{{ collection.name }} | beattosetto</title>
   {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/progres-bar.css" %}">
{% endblock %}
{% block content %}
<main class="bg-dark text-light">
    <div class="px-4 py-4 my-4 text-center align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url('{{ collection.collection_list.url }}'); background-position: center;">
        <p></p>
        <p></p>
        <h1 class="display-5 fw-bold text-break" id="home-welcome" data-aos="fade-up" data-aos-duration="700" data-aos-once="true">{{ collection.name }}</h1>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-once="true" style="color: #b5b5b5">Made by <a href="{% url "profile" collection.author.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><img src="{{ collection.author.profile.profile_picture.url }}" alt="{{ collection.author.username }}'s profile picture" class="rounded-circle hvr-icon" width="32px" height="32px" > {{ collection.author.username }}</a></p>
          <p class="lead mb-4 text-break" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">{{ collection.description }}</p>
        </div>
    </div>

  <div class="container">
      <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
  </div>

<section class="py-1 container">
    <div class="row">
        {% if user == collection.author %}
        <div class="col-sm-2">
            <p data-aos="fade-up" data-aos-duration="900" data-aos-once="true"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url "edit_collection" collection.id %}"><i class="fas fa-edit icon-menu hvr-icon"></i> Edit collection</a></p>
        </div>
        <div class="col-sm-2">
            <p data-aos="fade-up" data-aos-duration="900"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'beatmap_approval' collection.id %}"><i class="fas fa-tasks icon-menu hvr-icon"></i> Approve beatmap</a></p>
        </div>
        <div class="col-sm-2">
            <p data-aos="fade-up" data-aos-duration="900"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'add_beatmap' collection.id %}"><i class="fas fa-plus icon-menu hvr-icon"></i> Add beatmap</a></p>
        </div>
        {% else %}
        <div class="col-sm-2">
            <p data-aos="fade-up" data-aos-duration="900"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'add_beatmap' collection.id %}"><i class="fas fa-plus icon-menu hvr-icon"></i> Suggest beatmap</a></p>
        </div>
        {% endif %}
    </div>
<div class="row g-4 py-4">
    {% if all_beatmap %}
        {% for beatmap_entry in all_beatmap %}
            {% include "beatmap_collections/snippets/beatmap_card.html" %}
        {% endfor %}
    {% else %}
    <div class="col-12" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <h1 class="text-center" ><img src="{% static "img/no-beatmap.gif" %}" style="max-width: 500px" class="w-100" alt="No beatmap"></h1>
        <h3 class="text-center">No beatmaps added for this collection!</h3>
        <h3 class="text-center">Let's add one!</h3>
    </div>
    {% endif %}
</div>

    {% if user.is_authenticated %}
    <form class="py-4 container" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            <h2 data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Add Comment</h2>
            <p></p>
            <textarea name="comment" cols="40" rows="5" class="form-control" id="id_comment" maxlength="500" placeholder="Post a lovely comment to collection here." data-aos="fade-up" data-aos-duration="500" data-aos-once="true"></textarea>
            <p class="form-error" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">{{ form.comment.errors }}</p>
        </div>
        <p></p>
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Add</button>
    </form>
    {% endif %}

    {% if comment %}
    {% for comment_object in comment %}
    <div class="container rounded border border-2 p-3" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">

        <a href="{% url 'profile' comment_object.user.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link fix-transition"><p style="font-size: 200%"><img src="{{ comment_object.user.profile.profile_picture.url }}" alt="{{ comment_object.user.username }}" width="50" height="50" class="rounded-circle hvr-icon"> {{ comment_object.user.username }} </p></a>
        <p class="text-muted">Commented at {{ comment_object.create_date | date:"F j, Y h:i A" }}</p>
        <p>{{ comment_object.detail }}</p>

    </div>
    <p></p>
    {% endfor %}
    {% endif %}

</section>

</main>
{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="{% static "js/player.js" %}"></script>
    <script>
    $(document).ready(function () {
        $('.mediPlayer').mediaPlayer();
    });
    </script>
{% endblock %}