{% extends "beatmap_collections/base.html" %}
{% load static %}

    {% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beatsets.info/new/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="create collection | beattosetto">
    <meta property="og:description" content="Let's make some collection! poon poon Poon POON">
    <meta property="og:image" content="{% static hero_image %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://beatsets.info/new/">
    <meta property="twitter:title" content="create collection | beattosetto">
    <meta property="twitter:description" content="Let's make some collection! poon poon Poon POON">
    <meta property="twitter:image" content="{% static hero_image %}">
    {% endblock %}

    {% block title %}
  <title>create collection | beattosetto</title>
   {% endblock %}
{% block content %}
<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, var(--bg-color)), url({% static hero_image %});">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Create collection</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Let's make some collection! poon poon Poon POON</p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
<main class="text-light">
    <form class="py-4 container" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>Collection Information</h2>
        <br/>
        <div class="row g-3 align-items-center">
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_name" class="col-form-label col-lg-3">{{ form.name.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="text" id="id_name" name="name" class="form-control" placeholder="Collection Title Here" required>
                        <p class="form-error">{{ form.name.errors }}</p>
                        <p class="text-muted">Name of your collection that you want to create.</p>
                    </div>
                </div>
            </div>
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_description" class="col-form-label col-lg-3">{{ form.description.label_tag }}</label>
                    <div class="col-lg-9">
                        <textarea name="description" cols="40" rows="10" class="form-control" id="id_description" placeholder="Collection Description Here" required></textarea>
                        <p class="form-error">{{ form.description.errors }}</p>
                        <p class="text-muted">Short explanation about your collection.</p>
                    </div>
                </div>
            </div>
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_collection_list" class="col-form-label col-lg-3">{{ form.collection_list.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="file" name="collection_list" accept="image/*" id="id_collection_list" class="form-control">
                        <p class="form-error">{{ form.collection_list.errors }}</p>
                        <p class="text-muted">Image that will show on your collection card. This is not required.</p>
                    </div>
                </div>
            </div>
            <div class="fieldWrapper">
                <div class="mb-3 row">
                    <label for="id_tags" class="col-form-label col-lg-3">{{ form.tags.label_tag }}</label>
                    <div class="col-lg-9">
                        <input type="text" id="id_tags" name="tags" class="form-control" placeholder="Add your tags here">
                        <p class="form-error">{{ form.tags.errors }}</p>
                        <p class="text-muted">Tags that relevant to your collection. You can add more than 1 tag by using comma to seperate.</p>
                        <p class="text-muted">Example : You put <code>Surin,Garden,peppy wang</code> so you add 3 tags (Surin, Garden and peppy wang)</p>
                    </div>
                </div>
            </div>
        </div>
        <h2>Collection Customization</h2>
        <div class="fieldWrapper">
             <div class="mb-3 row">
                <label class="col-sm-3 col-form-label form-label">{{ form.allow_comment.label_tag }}</label>
                <div class="col-sm-9">
                    <div class="form-check form-switch">
                        {{ form.allow_comment }}
                    </div>
                    <p class="form-error">{{ form.allow_comment.errors }}</p>
                    <p class="text-muted">If checked, when adding beatmap to collection user will required to comment about that beatmap before adding to collections.</p>
                </div>
              </div>
        </div>
        <div class="fieldWrapper">
             <div class="mb-3 row">
                <label class="col-sm-3 col-form-label form-label">Background Alignment:</label>
                <div class="col-sm-9">
                    {{ form.background_align }}
                    <p class="form-error">{{ form.background_align.errors }}</p>
                    <p class="text-muted">The alignment of your anime girl background at the header of collection.</p>
                </div>
              </div>
        </div>
        <button type="submit" class="btn btn-success hvr-sweep-to-right-success">Create</button>
    </form>
</main>
{% endblock %}