{% extends "beatmap_collections/base_generic.html" %}
    {% block title %}
  <title>Welcome to beattosetto!</title>
   {% endblock %}


{% block content %}
<main class="bg-dark text-light">
    <section class="py-4 container">
        <h1 class="display-1 text-center">Welcome to beattosetto</h1>
        <p class="lead text-center">Beatmap collection sharing website for osu!</p>
    </section>
    <section class="py-4 container">
        <h2 class="display-2 text-center">Collections</h2>
        <div class="row g-4 py-4">
        {% for collection in collections %}
            <div class="col-lg-6">
                <div class="card mb-3 bg-dark text-light border border-primary collection-card">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ collection.collection_list.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col">
                      <div class="card-body">
                          <h2 class="card-title text-primary">{{ collection.name }}</h2>
                          <p class="card-content lead">made by {{ collection.author.username }}</p>
                          <p class="card-text">{{ collection.beatmap_count }} beatmaps</p>
                          <p class="card-text">
                              <span class="badge rounded-pill bg-primary">{{ collection.tags }}</span>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
