{% extends "beatmap_collections/base_generic.html" %}
{% load static %}
  {% block css %}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
  {% endblock %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-4 hidden-md-down position-relative" style="background-color: #2d2d2d; color: white;">
        <div class="container position-absolute top-50 start-50 translate-middle col-8">
            <h1>Login</h1>
            <p></p>
            <form method="POST">
                <p></p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                    </label>
                    </div>
                <p></p>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-beattosetto">Submit</button>
                    </div>
                <p></p>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-beattosetto2">Login with osu! account</button>
                    </div>
            </form>
             <div style="line-height: 5">
            <p>Don't have an account? <a <a href="{% url 'register' %}" class="text-decoration-none spacing-hover">Register</a></p>
             </div>
        </div>
      </div>
         <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="background-image: url('{% static "img/819506.jpeg" %}')"></div>

    </div>
{% endblock %}