{% load static %}
<div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="card mb-3 bg-dark text-light border border-primary collection-card">
      <div class="row g-0" style="font-size: 90%">
        <div class="col-md-4" style="min-height: 150px; background-image: url({{ collection.collection_list.url }}); background-size: cover; background-position: center;">
        </div>
        <div class="col-md-8" style="background-image: url({{ collection.collection_list.url }}); background-size: cover; background-position: center;">
          <div class="card-body collection-background">
              <a href="{% url 'collection' collection.id %}" class="text-decoration-none spacing-hover-short"><h2 class="card-title text-primary">{{ collection.name }}</h2></a>
              <div class="card-content">
                  <p class="text-muted">made by <a href="{% url 'profile' collection.author.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><img src="{{ collection.author.profile.profile_picture.url }}" alt="{{ collection.author.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ collection.author.username }}</a></p>
                  <p class="description">{{ collection.description }}</p>
              </div>
              {% with beatmaps_count=collection.beatmaps_count %}
              <p class="card-text">{{ beatmaps_count }} beatmap{{ beatmaps_count | pluralize  }}</p>
              {% endwith %}
              <span class="badge rounded-pill bg-primary">Tag</span>
          </div>
        </div>
      </div>
    </div>
</div>
